{% extends 'core/base.html' %}


{% load static %}


{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



<style>
    .removerProductos{
        display: none;
    }
</style>






    <div class="container-fluid">
    <div class="row d-flex">
    <a href="{% url 'ComboListados' %}" type="button"  class="btn btn-success ml-auto"> <i class="far fa-eye"></i> Ver Combos</a>
</div>
        <div class="row">
            <div class="col-md-4 mt-5" style="top: 6px;">
                <form action="/generarCombo/" id="formGuardarCombo" method="POST">
                    {% csrf_token %}
                    <div class="card">
                        <center><h5 class="card-header " style="background-color: #263238; color:white;" >Ingreso de Nuevo Combo</h5></center>
                        <div class="card-body" style="background-color: #cfd8dc; ">
                         
                          <div class="form-group">
                              <label for="" class="">Codigo de Combo</label>
                              <input class="form-control" type="text" name="codigo" id="" required autocomplete="off">
                          </div>
                          <div class="form-group">
                            <label for="" class="">Nombre de Combo</label>
                            <input class="form-control" type="text" name="nombre" id="" required autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="" class="">Cantidad de Productos</label>
                            <input class="form-control" type="text" name="cantidadTotalCombo" id="cantidadTotal" required readonly>
                        </div>
                        <div class="form-group">
                            <label for="" class="">Precio Total de Combo ($)</label>
                            <input class="form-control" type="number" name="precioTotal" id="" required title="Para incluir decimales utilice el punto" autocomplete="off">
                        </div>
                        
                        <input type="submit" value="Guardar Combo" class="form-control btn btn-primary" >
                        </div>
    
                    </div>
                </form>
            </div>   
            <div class="col-md-8">
           <form action="/buscarProducto/" method="POST" id="formBuscarProducto">
            {% csrf_token %}
               <div class="form-inline my-2">
                    <label for="">Producto: </label>
                    <input type="text" class="form-control ml-2" name="codigoProducto" id="busquedaProductos" placeholder="Ingrese el codigo o nombre del producto" title="Ingrese el codigo o nombre del producto">
                </div> 
            </form>
                <table id="tablaConfiguracion"  class="table table-bordered ">
                    <thead  class=" ">
                      <tr style="background-color: #263238; color: white;">
                        <th scope="col">Codigo de Producto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Quitar</th>
                       
                      </tr>
                    </thead>
                        
                    <tbody id="mostrar">
                   
                    </tbody>
                  </table>
      
            </div> 
        </div>
    </div>

    <style>.dataTables_empty{display: none;}
        .example::-webkit-scrollbar {
            display: none;
        }
        
        </style>
        <script>
           $(document).ready(function() {
        
            $('#tablaConfiguracion').DataTable( {
                "scrollY":        "430px",
                "scrollX":        false,
                "scrollCollapse": false,
                "paging":         false,
                "info":           false,// oculta el contador de entradas
                "searching":false,
                "ordering":false,
                 "language": {
              "emptyTable": false,
               "zeroRecords":   false
            }
            } );
             $(".dataTables_scrollHead").css('overflow', 'auto');
             $(".dataTables_scrollHeadInner").css('overflow','scroll');
              $(".dataTables_scrollHead").addClass('example'); // oculto scroll
               $(".dataTables_scrollHeadInner").css('width', '100%');
               $(".dataTables_scrollBody").addClass('example'); // oculto scroll
               $(".dataTables_scrollHeadInner").addClass('example'); // oculto scroll
                $(".no-footer").css('width', '100%');
        
              
        } );







        $( "#formGuardarCombo" ).submit(function( event ) {
            event.preventDefault();
        
            var form = $("#formGuardarCombo");
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            success: function (data) {
            console.log(data) 
            $('#formGuardarCombo').trigger("reset"); 
            $(".removerProductos").remove();

            $(".remover").remove();
            },
            error:function(data) {
                console.log("No se ha podido obtener la información");
            }
        });
});







        $("#busquedaProductos").keypress(function(e) {
        
        var code = (e.keyCode ? e.keyCode : e.which);

        if(code==13){
            e.preventDefault();
            obtenerDatos();
        }
    });

 

   var contadorProducto=1;


function obtenerDatos() {

    var form = $("#formBuscarProducto");
  $.ajax({
    url: form.attr("action"),
    data: form.serialize(),
    type: form.attr("method"),
    success: function (response) {
    console.log(response)  


    $("#busquedaProductos").val("");
  
  if (response.length==0) {
  bootbox.alert("Este producto no se encuentra registrado");
  $("#busquedaProductos").focus();

   }else{



/******************************Dibujo de Tabla*************************************************/


if (response[0].tipoProducto=="Producto Fraccionado") {//producto fracionado

    bootbox.alert("Este producto fraccionado no se admite");
/*
$("#mostrar").append(`<tr id=fila-`+contadorProducto+`  class="removerProductos">
<td>`+contadorProducto+`</td>
<td>`+response[0].codigo+`</td>
<td>`+response[0].nombre+`</td>
<td id=precioProducto-`+contadorProducto+`>`+response[0].precioVenta+`</td>
<td><div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="customCheck`+contadorProducto+`"  onclick="incrementoMesa(`+contadorProducto+`,`+response[0].precioVenta+`,this.checked);">
<label class="custom-control-label" for="customCheck`+contadorProducto+`"></label>
</div></td>
<td><button id="bloquear`+contadorProducto+`" class="btn btn-success ml-2" data-toggle="modal" data-target="#modalDeterminarPrecio" onclick="capturaPesaje(`+response[0].precioVenta+`,`+contadorProducto+`);"><i class="fas fa-external-link-alt"></i></button>
<button class="btn btn-danger ml-2" onclick="removerProducto(`+contadorProducto+`,'`+response[0].nombre+`');"><i class="far fa-trash-alt"></i></button></td>
</tr>'`);


$("#formVender").append(`<div id=removerProducto-`+contadorProducto+` class="removerProductos"><br><input type="text" name="producto[]" value=`+response[0].codigo+`>
             <input type="text" id=precio-`+contadorProducto+` name="precioUnitario[]" value=`+response[0].precioVenta+`>
             <input type="text" id=pesaje-`+contadorProducto+` name="pesaje[]" value=`+1+`><br></div>`);
    
*/

} else{
for (let index = 0; index < response.length; index++) {
   

    $("#mostrar").append(`<tr id=fila-`+contadorProducto+` class="remover"  >
<td>`+response[index].codigo+`</td>
<td>`+response[index].nombre+`</td>
<td id=precioProducto-`+contadorProducto+`>`+response[index].precioVenta+`</td>
<td>
<button class="btn btn-danger ml-2" onclick="removerProducto(`+contadorProducto+`);"><i class="far fa-trash-alt"></i></button></td>
</tr>'`);


$("#formGuardarCombo").append(`<div id=removerProducto-`+contadorProducto+` class="removerProductos"><br>
             <input type="text" id=precio-`+contadorProducto+` name="idProducto[]" value=`+response[index].id+`>
             <input type="text" id=pesaje-`+contadorProducto+` name="cantidad[]" value=`+1+`><br>
             </div>`);
             contadorProducto++;
}



    
}



  }




cantidadDeProductosActual()






    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });


    
}



function cantidadDeProductosActual(){
var cantidadFilasActual=document.getElementById("mostrar").rows.length;
console.log(cantidadFilasActual -1);

$("#cantidadTotal").val(cantidadFilasActual -1);


}


function removerProducto(idFilaProducto) {


  $("#fila-"+idFilaProducto).remove();
  $("#removerProducto-"+idFilaProducto).remove();
  
  cantidadDeProductosActual()
}




        </script>

{% comment %} hay que hacer el formulario con el atributo name="" asi se puede enviar con el boton submit {% endcomment %}
{% endblock content %}  