

{% extends 'core/base.html' %}


{% load static %}


{% block content %}

{% comment %} esta es la vista de borrar producto ! 

hay que poner un cuadro que diga que si estas seguro de borrarlo 

y un boton que diga si (es un submit y otro que diga no) {% endcomment %}
<form method="POST">
{% csrf_token %}
<center><div class="jumbotron col-md-8">
    <center> <h1 class="display-5">Este combo fue eliminado </h1></center>
     <!-- <h3 class="display-5"> {{object.nombre}}</h3> -->
     <hr class="my-4">
     <p class="lead">
       <center>
        <a role="button" class="btn btn-success btn-lg ml-3" href="{% url 'ComboListados' %}" type="submit">Volver</a></center>
     </p>
   </div></center>
</form>

{% endblock content %}
 