{% extends 'core/base.html' %}


{% load static %}

   

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 



<style>
    .ocultar{
        display: none;
    }


</style>


    <form action="/cargaUnaVenta/" id="formGenerarNuevaVenta" method="post" >
        {% csrf_token %}
        <input type="hidden" name="usuario" value="{{user.username}}" >
    <button type="submit" class="btn btn-success" id="botonGenerarNuevaVenta" >
        <i class="fas fa-plus-circle"></i>
        <b>Nueva Venta</b>
    </button>
    </form>


    <!--Necesito que me traigan la fecha de la venta y el usuario-->
    <div class="form-inline mt-5">
        <label for="">Fecha de Venta: </label>
        <input type="text" class="form-control ml-3"  value="----/--/--" id="fecha" readonly="" >
        <label for="" class="ml-auto">Vendedor: </label>
        <input type="text" class="form-control ml-3"  value="{{user.first_name}} {{user.last_name}}">
    </div>    


<br><br>

<form method="post" id="formBusqueda" >
    {% csrf_token %}
    <div class="form-inline">
        <label for="">Codigo de Producto: </label>
        <input type="search" class="form-control ml-3 col-md-4" placeholder="Buscar por codigo" title="Ingrese el troquel" id="busquedaProducto"   autocomplete="off"  autofocus="true" name="codigoProducto"  >
    </div>
 
 <br><br>
</form>




 <form action="/eliminarDetalle/" method="post" id="formEliminarDetalleVenta" class="ocultar">
    
    {% csrf_token %} 
    <input type="text" name="idDetalleVenta" id="idDetalleVenta" placeholder="id detalle venta" >
    <input type="text" name="idProducto" id="idDelProductoStock">
</form>


<form action="/detalle/" method="post" id="formDetalleVenta" class="ocultar">
   
    {% csrf_token %} 
    <input type="text" name="ventas" id="idVenta" placeholder="id venta" >
    <input type="text" name="producto" id="idProducto" placeholder="id producto">
    <input type="text" name="precioProducto" id="idPrecioProducto" placeholder="id  del precio producto">
   
</form>



    <table id="tablaConfiguracion"  class="table table-bordered "  >
    <thead  class=" ">
      <tr style="background-color: #263238; color: white;">
        <th scope="col">ID</th>
        <th scope="col">Código del Producto</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio de Venta </th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody id="mostrar" >
    </tbody>
  </table>
  
  <div class="form-inline mt-2 ">
      <label for="" class="ml-auto ">Total de la Venta ($): </label>
      <input type="text" name="" id="precioTotal" class="form-control ml-3 mr-1 col-md-2   " disabled="">
  </div>
  <div class="form-inline mt-3 ">
       <button type="button" class="btn btn-info mr-auto" onclick="" id="botonFactura" data-toggle="modal" data-target="#modalEmail">
        <i class="fas fa-file-invoice-dollar"></i>
        <b>Factura</b> </button> 
    <button type="button" class="btn btn-danger ml-auto" onclick="cancelarVenta();enviarlista(-1,'cancela');" id="botonCancelar">
        <i class="fas fa-window-close"></i>
        <b>Cancelar</b> </button> 
    <button type="submit" class="btn btn-info ml-2" id="botonVender" onclick="terminarVenta();" >
        <!-- <i class="far fa-dollar-sing"></i> -->
        <i class="fas fa-dollar-sign"></i>
        <b>Vender</b>
    </button> 
  </div>











<div class="modal fade" id="modalDeterminarPrecio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="">Cantidad (en KG)</label>
        <input type="text" class="form-control" id="cantidad">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="determinarPrecioProducto();" data-dismiss="modal">Calcular</button>
      </div>
    </div>
  </div>
</div>





<!-- Modal email -->


<div class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Desea enviar comprobante?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="">Email</label>
        <input type="email" class="form-control" id="email" autocomplete="off">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#email').val('');">No</button>
        <button type="button" class="btn btn-primary" onclick="enviarMail();" data-dismiss="modal">Si</button>
      </div>
    </div>
  </div>
</div>


  <input type="text" id="valor">
<button onclick="enviarlista()">enviar</button>




 <style>.dataTables_empty{display: none;}
</style>

<script>
var precioSelecionado,idPrecioSeleccionado,idFilaProducto;

 // $("#mostrar").html('  <tr><td colspan="5" class="text-center" id="existencia"> No hay Productos</td></tr>');

 $("#busquedaProducto").attr("disabled",true);
$("#botonCancelar").attr("disabled",true);
$("#botonVender").attr("disabled",true);
$("#botonFactura").attr("disabled",true);

 /******************************************************************
 /***************** Generar id venta*******************************
 *****************************************************************/

$( "#formGenerarNuevaVenta" ).submit(function( event ) {
    event.preventDefault();
  $("#botonGenerarNuevaVenta").attr("disabled",true);
$("#botonFactura").attr("disabled",true);
  $("#busquedaProducto").attr("disabled",false);
$("#botonVender").attr("disabled",false);
$("#botonCancelar").attr("disabled",false);

//   $('#btnSubmit').attr("disabled", false);  
// or
// $('#btnSubmit').removeAttr("disabled");
    var form = $(this);
  $.ajax({
    url: form.attr("action"),
    data: form.serialize(),
    type: form.attr("method"),
    success: function (data) {
    console.log(data)
   $("#idVenta").val(data.idVentaUltimo);
    $("#fecha").val(data.fecha);
    $("#busquedaProducto").focus();
   
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });
 // return false;
});



/********************************************************************
************* Búsqueda del código de producto ********************
*****************************************************************/

/************************probando focus obligatorio***/
/* $("#busquedaProducto").blur(function(){
            // $("#busquedaProducto").focus();
            $("#busquedaProducto").attr("autofocus",true);
    });*/
 $(document).ready(function() {

    $('#tablaConfiguracion').DataTable( {
        "scrollY":        "200px",
        "scrollX":        false,
        "scrollCollapse": false,
        "paging":         false,
        "info":           false,// oculta el contador de entradas
        "searching":false,
        "ordering":false,
         "language": {
      "emptyTable": false,
       "zeroRecords":   false
    }
    } );
     $(".dataTables_scrollHead").css('overflow', 'auto');
      $(".dataTables_scrollHeadInner").css('width', '100%');
// $(".dataTables_scrollHeadInner").css('box-sizing', '');
// $(".dataTables_scrollHeadInner").css('padding-right', '');
$(".no-footer").css('width', '100%');
// table table-bordered dataTable no-footer
// $("#tablaConfiguracion").removeAttr("style");
      
} );


 


$(document).ready(function(){

 
    $("#busquedaProducto").keypress(function(e) {
        
        var code = (e.keyCode ? e.keyCode : e.which);

        if(code==13){
            e.preventDefault();
            var valor = $("#busquedaProducto").val();
            var idVenta=$("#idVenta").val();
            obtenerDatos(valor,idVenta);
        }
    });
});
 
var precioTotal=0;
/*var cantidadTotalProductosIguales=0;
var cantidadTotalVendida=0;*/
var contadorProducto=0;

function obtenerDatos(valor,idVenta) {

    /****Busqueda del Producto**/
   var form = $( "#formBusqueda" );

  $.ajax({
    url:"/buscarProducto/",
    data: form.serialize(),
    type: form.attr("method"),
      success: function(response){

        console.log(response)
        console.log("paso 1 producto encontrado")

           $("#busquedaProducto").val("");
  
           if (response.length==0) {
            cantidadDeProductosActual();
           bootbox.alert("Este producto no se encuentra registrado");
           $("#busquedaProducto").focus();

            }else{
            $("#existencia").remove() 

/*********************************************************************************            
/*****************Insercion del producto en la BD********************************
*******************************************************************************/
            var idProducto=response[0].id;
            $("#idProducto").val(idProducto);
            $("#idPrecioProducto").val(response[0].precioVenta);     
            var form = $( "#formDetalleVenta" );

            $.ajax({
                url:"/detalle/"+idVenta+"/",
                data: form.serialize(),
                type: form.attr("method"),
                success: function (data) {
                   console.log("paso 2 producto insertado y retorna su id detalle de venta ")
                    console.log("id detalle encontrado "+ data) // id detalle venta

                 $("#idDetalleVenta").val(data);
    
                 contadorProducto=contadorProducto+1;
                var idDetalleVenta=$("#idDetalleVenta").val();

            console.log("paso 3 dibujo tabla ")
 

/******************************Dibujo de Tabla*************************************************/


if (response[0].tipoProducto==2) {//producto fracionado



    $("#mostrar").append(`<tr id=`+contadorProducto+`>
      <td>`+contadorProducto+`</td>
      <td>`+response[0].codigo+`</td>
      <td>`+response[0].nombre+`</td>
      <td id=precioProducto-`+contadorProducto+`>`+response[0].precioVenta+`</td>
      <td><button id="bloquear`+contadorProducto+`" class="btn btn-success ml-2" data-toggle="modal" data-target="#modalDeterminarPrecio" onclick="capturaPrecio(`+response[0].precioVenta+`,`+data+`,`+contadorProducto+`);"><i class="fas fa-external-link-alt"></i></button>
      <button class="btn btn-danger ml-2" onclick="removerProducto(`+contadorProducto+`,`+response[0].precioVenta+`,`+idDetalleVenta+`,`+response[0].id+`);"><i class="far fa-trash-alt"></i></button></td>
      </tr>'`);

} else{

    $("#mostrar").append(`<tr id=`+contadorProducto+`>
      <td>`+contadorProducto+`</td>
      <td>`+response[0].codigo+`</td>
      <td>`+response[0].nombre+`</td>
      <td id=precioProducto-`+contadorProducto+`>`+response[0].precioVenta+`</td>
      <td>
      <button class="btn btn-danger ml-2" onclick="removerProducto(`+contadorProducto+`,`+response[0].precioVenta+`,`+idDetalleVenta+`,`+response[0].id+`);"><i class="far fa-trash-alt"></i></button></td>
      </tr>'`);

}

    
             
           precioTotal= precioTotal + parseFloat(response[0].precioVenta);
  //enviarlista(response[0].id,"no cancela");
           console.log(precioTotal);
           $("#precioTotal").val(precioTotal);
            
            cantidadDeProductosActual();
    
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }

  });

/**********************************Fin de insercion de producto********************************************************/
           }
      },
       error : function(message) {
         console.log(message);
      }
    });
  /**********************************Fin de Busqueda de producto********************************************************/
}



/**************************************************************************
**************** Funcion que cuenta los productos a vender*****************
**************************************************************************/


function cantidadDeProductosActual(){
var cantidadFilasActual=document.getElementById("mostrar").rows.length;
console.log(cantidadFilasActual);
if (cantidadFilasActual ==1) {
     $("#mostrar").html('  <tr><td colspan="5" class="text-center" id="existencia"> No hay Productos</td></tr>')
     $("#precioTotal").val(0);
     precioTotal=0;
}
}


/*************************************************************************************
**************** Funcion que elimina un detalle de venta ***************************
**********************************************************************************/

function removerProducto(idFila,precioRestarr,idDetalleVentaProductoUnitario,idDelProducto) {
    var precioRestar=$("#precioProducto-"+idFila).text();
     $("#"+idFila).remove();
    precioTotal=precioTotal-precioRestar;
    contadorProducto-1;
     $("#precioTotal").val(precioTotal);
     cantidadDeProductosActual();

     eliminarProductoDelDetalleVenta(idDetalleVentaProductoUnitario,idDelProducto);
     $("#busquedaProducto").focus();

}

/**************************************************************************
**************** Funcion que cancela una venta ****************************
**************************************************************************/


function cancelarVenta() {



bootbox.confirm({
    title: "Confirmación",
    message: "Esta seguro de cancelar la venta? Esta accion no se puede deshacer.",
    buttons: {
        cancel: {
            label: '<i class="fa fa-times"></i> Cancel',
            className: 'btn-danger'
        },
        confirm: {
            label: '<i class="fa fa-check"></i> Confirm',
            className: 'btn-info'
        }
    },
    callback: function (result) {
        console.log('This was logged in the callback: ' + result);



if (result==true) {


   $("#mostrar").html('  <tr><td colspan="5" class="text-center" id="existencia"> No hay Productos</td></tr>')
     precioTotal=0;
     $("#precioTotal").val(precioTotal);
     var idVenta=$("#idVenta").val();


 $.ajax({
    url:"/eliminarVenta/",
    data: {'idVenta':idVenta,csrfmiddlewaretoken: '{{ csrf_token }}' },
    type: "POST",
    success: function (data) {
    console.log(data) // id detalle venta
    
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });

$("#botonGenerarNuevaVenta").attr("disabled",false);
$("#busquedaProducto").attr("disabled",true);
$("#botonCancelar").attr("disabled",true);
$("#botonVender").attr("disabled",true);



}else{
    
    console.log("ninguna accion")
      // $("#busquedaProducto").blur(function(){
           
            // $("#busquedaProducto").attr("autofocus",true);
    // });

}

 

    }

});


}

/*****************************************************************************************************************
********* Funcion que elimina un detalle de venta invocada en la funcion removerProducto() **********************
****************************************************************************************************************/

function eliminarProductoDelDetalleVenta(idDetalleVentaProducto,idProd) {
    
$("#idDelProductoStock").val(idProd);
    $("#idDetalleVenta").val(idDetalleVentaProducto);
    
    var form = $( "#formEliminarDetalleVenta" );

  $.ajax({
    url:form.attr("action"),
    data: form.serialize(),
    type: form.attr("method"),
    success: function (data) {
    console.log(data) // id detalle venta
    
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });
 $("#busquedaProducto").focus();
}



// ------------------------


var ultimoIdFila=0;

function capturaPrecio(precioProductofraccionado,idDetalleVenta,contadorFila) {
  console.log("precio del producto elegido de base" + precioProductofraccionado);


 precioSelecionado= parseFloat(precioProductofraccionado);
 idPrecioSeleccionado= idDetalleVenta;
 idFilaProducto=contadorFila

}


/* otra forma seria agregarle una atriuto a la filaque  ya edito el precio*/

 function determinarPrecioProducto() {
 var precioCapturado=precioSelecionado;
 var idPrecio=idPrecioSeleccionado;
  var cantidad=$("#cantidad").val();

    console.log("Calculo "+precioCapturado+ "*"+ "canidad"+cantidad +"idDetalleVenta"+ idPrecio+"nroFila"+idFilaProducto);
var precioFinalProductoFraccionado=(precioCapturado*cantidad);
 // $("precioProducto-"+idPrecio).text(precioFinalProductoFraccionado)
 $("#precioProducto-"+idFilaProducto).text(precioFinalProductoFraccionado);



precioTotal=(precioTotal-precioCapturado)+precioFinalProductoFraccionado;
console.log("precioTotal "+ precioTotal+" -"+ "precioCapturado"+precioCapturado+ "mas el precioFinalProductoFraccionado"+precioFinalProductoFraccionado)
$("#precioTotal").val(precioTotal);
$("#cantidad").val("");
$("#bloquear"+idFilaProducto).attr('disabled',true);
$("#modalDeterminarPrecio").modal('toggle');

 $.ajax({
    url:"/actualizarPrecioDetalleVenta/",
    data: {'idDetalleVenta':idPrecio,'precioDetalleVenta':precioFinalProductoFraccionado,csrfmiddlewaretoken: '{{ csrf_token }}' },
    type: "POST",
    success: function (data) {
    console.log(data) // id detalle venta
    
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });






}

function terminarVenta(argument) {
  $("#botonCancelar").attr("disabled",true);
  $("#botonFactura").attr("disabled",false);
  $("#botonVender").attr("disabled",true);

  var idDeVenta= $("#idVenta").val();
  var precioTotalVenta= $("#precioTotal").val();
   $.ajax({
    url:"/terminarVenta/",
    data: {'idVenta':idDeVenta,'precioVentaTotal':precioTotalVenta,csrfmiddlewaretoken: '{{ csrf_token }}' },
    type: "POST",
    success: function (data) {
    console.log(data) // id detalle venta
    $("#mostrar").html("");
    $("#botonGenerarNuevaVenta").attr("disabled",false);
    $("#precioTotal").val("")
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });



}



window.onbeforeunload = function preguntarAntesDeSalir(desicion)
    {

return "¿Seguro que quieres salir?";
/*
var resultd= bootbox.confirm({
    message: "Estas a punto de salir",
    buttons: {
        confirm: {
            label: 'Yes',
            className: 'btn-success'
        },
        cancel: {
            label: 'No',
            className: 'btn-danger'
        }
    },
    callback: function (result) {
        console.log('This was logged in the callback: ' + result);
        resultd=result;
    }
});

return resultd;*/
        
    }





function enviarMail() {
var idVenta= $("#idVenta").val();
  var emailUsuario= $("#email").val();
   $.ajax({
    url:"/enviar/",
    data: {'idVenta':idVenta,'mail':emailUsuario,csrfmiddlewaretoken: '{{ csrf_token }}' },
    type: "POST",
    success: function (data) {
    console.log(data) // id detalle venta
    $("#email").val("");
    
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });
}



function enviarlista(id,cancelar) {
  console.log( id);
var idprod= id;
var cancelar= cancelar;
   $.ajax({
    url:"/lista/",
    data: {'listaId':idprod,'cancela':cancelar,csrfmiddlewaretoken: '{{ csrf_token }}' },
    type: "POST",
    success: function (data) {
    console.log(data) // id detalle venta
   
    
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });
}













/*deberia generar una peticion ajax que inserte la fecha , id venta cuando se de clic en el boton vender y retornar su idVenta creado, para que luego el sistema pregunte si quiere genear una factura, y recien ahi se inserta el talle de venta  y se retorna los valores*/


</script>

{% endblock content %}
