{% extends 'core/base.html' %}


{% load static %}

   

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 



<style>
    .ocultar{
        display: none;
    }


</style>





    <!--Necesito que me traigan la fecha de la venta y el usuario-->
    <div class="form-inline mt-5 col-12">
        <label for="">Fecha de Venta: </label>
        <input type="text" class="form-control ml-3"  value="--/--/----" id="fecha" readonly="" >
        <label for="" class="ml-auto font-weight-bold  " style="font-size: 23px;" id="labelProducto">
        
       
        </label>
    <!--    <input type="text" class="form-control ml-3"  value="{{user.first_name}} {{user.last_name}}">-->
    </div>    




<form method="post" id="formBusqueda" >
    {% csrf_token %}
    <div class="form-inline col-12">
        <label for="">Codigo de Producto: </label>
        <input type="search" class="form-control ml-3 col-md-4" placeholder="Ingrese el código o nombre del Producto" title="Ingrese el código o nombre del Producto" id="busquedaProducto"   autocomplete="off"  autofocus="true" name="codigoProducto"  >


        <label for="" class="ml-auto">
          <h1 class="display-1 font-weight-bold">$</h1><h1 class="display-1 font-weight-bold " id="labelPrecioTotalVenta">0</h1>
        </label>
    </div>
 
 <br><br>
</form>





 





    <table id="tablaConfiguracion"  class="table table-bordered "  >
    <thead  class=" ">
      <tr style="background-color: #263238; color: white;">
        <th scope="col"  width=220>Código del Producto</th>
        <th scope="col" width=600>Descripción</th>
        <th scope="col" width=150 >Precio de Venta </th>
        <th scope="col" width=150 >Incremento Mesa </th>
        <th scope="col" >Acciones</th>
      </tr>
    </thead>
    <tbody id="mostrar" >
    </tbody>
  </table>
 
  

<div class="container">
  
  <form action="/ventaTerminada/" id="formVender" method="post">
    {% csrf_token %}
  <div class="row my-3">
     <div class="custom-control custom-checkbox ">
     <input type="checkbox" class="custom-control-input " id="pago" name="tipoPago"onclick="e= this.checked; if(e==true){e='Débito';}else{e='Efectivo';}">
      <label class="custom-control-label  " for="pago">Pago en Débito</label>
    </div>
  </div>
  <div class="row d-flex "> 
    
      <button type="button" class="btn btn-info" onclick="" id="botonFactura" data-toggle="modal" data-target="#modalEmail">
        <i class="fas fa-envelope"></i>
       <b>Factura</b> </button> 
    <button type="button" class="btn btn-danger ml-auto" onclick="cancelarVenta();" id="botonCancelar">
      <i class="fas fa-window-close"></i>
      <b>Cancelar</b> </button>
     <button type="button" class="btn btn-info ml-2" id="botonVender" onclick="terminarVenta();" >
         <i class="fas fa-dollar-sign"></i>
         <b>Vender</b>
     </button> 
 
    
     
    
    </div>
      
</div>




<div class="ocultarInputs">    <input type="text" name="usuario" value="{{user.username}}" >
    <input type="text" class="precioTotal" name="precioVentaTotal" value="0" >
    
</div>
  </form>

  </div>





<div class="modal fade" id="modalDeterminarPrecio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="">Cantidad (en KG)</label>
        <input type="number" class="form-control" id="cantidad" >
        <div id="validacionAlerta" class="alert alert-warning" >Por favor ingresa un pesaje válido</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="determinarPrecioProducto();" data-dismiss="modal" id="removerAtributo">Calcular</button>
      </div>
    </div>
  </div>
</div>





<!-- Modal email -->


<div class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Desea enviar comprobante?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="">Email</label>
        <input type="email" class="form-control" id="email" autocomplete="off">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#email').val('');">No</button>
        <button type="button" class="btn btn-primary" onclick="enviarMail();" data-dismiss="modal">Si</button>
      </div>
    </div>
  </div>
</div>





 <style>
 .dataTables_empty{display: none;}


.ocultarInputs{
  display: none;
}
</style>

<script>


//var a= $("#pago").val();



var idFilaProductoTabla; precioSeleccionado=0,precioTotal=0,contadorProducto=0,idVenta=0,e='Efectivo',cantidadFilasActual=0;

/*var cantidadTotalProductosIguales=0;
var cantidadTotalVendida=0;*/


$("#botonFactura").attr('disabled',true);

$("#botonCancelar").attr('disabled',true);


$("#busquedaProducto").focus();






 $(document).ready(function() {

    $('#tablaConfiguracion').DataTable( {
        "scrollY":        "400px",
        "scrollX":        false,
        "scrollCollapse": false,
        "paging":         false,
        "info":           false,// oculta el contador de entradas
        "searching":false,
        "ordering":false,
         "language": {
      "emptyTable": false,
       "zeroRecords":   false
    }
    } );
     $(".dataTables_scrollHead").css('overflow', 'auto');
     $(".dataTables_scrollHeadInner").css('width', '100%');
     $(".no-footer").css('width', '100%');

      
} );








function obtenerFechaActual() {
  let date = new Date()
  let day = date.getDate()
  let month = date.getMonth() + 1
  let year = date.getFullYear()
  let fechaFinal;
  if(month < 10){
    if (day< 10) {
      fechaFinal=`0${day}/0${month}/${year}`;
    }else{
    fechaFinal=`${day}/0${month}/${year}`;}
  }else{
    if (day< 10) {
      fechaFinal=`0${day}/${month}/${year}`;
    }
    fechaFinal=`${day}/${month}/${year}`;
  }
  $("#fecha").val(fechaFinal);

}







//$( "#formVender" ).submit(function( event ) {


function terminarVenta() {
  


//event.preventDefault();
    
if (precioTotal<=0) {
  bootbox.alert("El monto total no puede ser igual o menor que cero");
}else{




bootbox.confirm({
    title: "Confirmación",
    message: "Monto total de la venta : <b> $"+precioTotal +" </b><br> Cantidad de Productos: <b>"+cantidadFilasActual+" </b> <br> Pago : <b>"+e+" </b>",
    buttons: {
        cancel: {
            label: '<i class="fa fa-times"></i> Cancel',
            className: 'btn-danger'
        },
        confirm: {
            label: '<i class="fa fa-check"></i> Confirm',
            className: 'btn-info'
        }
    },
    callback: function (result) {
        console.log('This was logged in the callback: ' + result);


        if (result==false) {

    }else{  
    
    $("#botonFactura").attr('disabled',false);


    var form = $("#formVender");
  $.ajax({
    url: form.attr("action"),
    data: form.serialize(),
    type: form.attr("method"),
    success: function (data) {
    console.log(data)  
    idVenta=data;



    $("#botonCancelar").attr('disabled',true);
  $("#botonFactura").attr('disabled',false);
  $("#botonVender").attr('disabled',true);
  $(".removerProductos").remove();
  precioTotal=0;
  $(".precioTotal").val(precioTotal);
  $("#labelPrecioTotalVenta").text(0);
  $("#labelProducto").text(" ");
  $("#fecha").val("");

    
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });
}
   

    }
});
}
}


    $("#busquedaProducto").keypress(function(e) {
        
        var code = (e.keyCode ? e.keyCode : e.which);

        if(code==13){
            e.preventDefault();
            obtenerDatos();
        }
    });

 



function cancelarVenta() {




  bootbox.confirm({
    title: "Confirmación",
    message: "Esta seguro de cancelar la venta?",
    buttons: {
        cancel: {
            label: '<i class="fa fa-times"></i> NO',
            className: 'btn-danger'
        },
        confirm: {
            label: '<i class="fa fa-check"></i> SI',
            className: 'btn-info'
        }
    },
    callback: function (result) {
        console.log('This was logged in the callback: ' + result);



if (result==true) {

  $("#botonCancelar").attr('disabled',true);
  $("#botonFactura").attr('disabled',true);
  $("#botonVender").attr('disabled',true);
  $(".removerProductos").remove();
  precioTotal=0;
  $(".precioTotal").val(precioTotal);
  $("#labelPrecioTotalVenta").text(0);
  $("#labelProducto").text(" ");
  $("#fecha").val("");

}
}
});
  
}



function obtenerDatos() {

    /****Busqueda del Producto**/
   var form = $( "#formBusqueda" );

  $.ajax({
    url:"/buscarCodigoProducto/",
    data: form.serialize(),
    type: form.attr("method"),
      success: function(response){

        console.log(response)

           $("#busquedaProducto").val("");
  
           if (response.length==0) {
            cantidadDeProductosActual();
           bootbox.alert("Este producto no se encuentra registrado");
           $("#busquedaProducto").focus();

            }else{
              obtenerFechaActual();

              $("#botonVender").attr('disabled',false);
              $("#botonCancelar").attr('disabled',false);
              
            $("#existencia").remove() 

/******************************Dibujo de Tabla*************************************************/
for (let i = 0; i < response.length; i++) {
  if((response[i].stock <=2 && response[i].pesaje ==null) || (response[i].pesaje <1 && response[i].stock ==null) ){
    bootbox.alert("Queda poco Stock!");
  }
  


if (response[i].tipoProducto=="Producto Fraccionado") {//producto fracionado

    $("#mostrar").append(`<tr id=fila-`+contadorProducto+`  class="removerProductos">
      <td>`+response[i].codigo+`</td>
      <td>`+response[i].nombre+`</td>
      <td id=precioProducto-`+contadorProducto+`>`+response[i].precioVenta+`</td>
      <td><div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck`+contadorProducto+`"  onclick="incrementoMesa(`+contadorProducto+`,`+response[i].precioVenta+`,this.checked);">
        <label class="custom-control-label" for="customCheck`+contadorProducto+`"></label>
      </div></td>
      <td><button id="bloquear`+contadorProducto+`" class="btn btn-success ml-2" data-toggle="modal" data-target="#modalDeterminarPrecio" onclick="capturaPesaje(`+response[i].precioVenta+`,`+contadorProducto+`);"><i class="fas fa-external-link-alt"></i></button>
      <button class="btn btn-danger ml-2" onclick="removerProducto(`+contadorProducto+`,'`+response[0].nombre+`');"><i class="far fa-trash-alt"></i></button></td>
      </tr>'`);


      $("#formVender").append(`<div id=removerProducto-`+contadorProducto+` class="removerProductos ocultarInputs"><br><input type="text" name="producto[]" value=`+response[i].codigo+`>
                      <input type="text" id=precio-`+contadorProducto+` name="precioUnitario[]" value=`+response[i].precioVenta+`>
                      <input type="text" id=pesaje-`+contadorProducto+` name="pesaje[]" value=`+1+`><br></div>`);
             


} else{

    $("#mostrar").append(`<tr id=fila-`+contadorProducto+`  class="removerProductos">
      <td>`+response[i].codigo+`</td>
      <td>`+response[i].nombre+`</td>
      <td id=precioProducto-`+contadorProducto+`>`+response[i].precioVenta+`</td>
      <td>
        <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck`+contadorProducto+`"  onclick="incrementoMesa(`+contadorProducto+`,`+response[i].precioVenta+`,this.checked);">
        <label class="custom-control-label" for="customCheck`+contadorProducto+`"></label>
      </div>
      </td>
      <td>
      <button class="btn btn-danger ml-2" onclick="removerProducto(`+contadorProducto+`,'`+response[i].nombre+`');"><i class="far fa-trash-alt"></i></button></td>
      </tr>'`);


      $("#formVender").append(`<div id=removerProducto-`+contadorProducto+` class="removerProductos ocultarInputs" ><br><input type="text" name="producto[]" value=`+response[i].codigo+` >
                      <input type="text" id=precio-`+contadorProducto+` name="precioUnitario[]" value=`+response[i].precioVenta+`>
                      <input type="text" id=pesaje-`+contadorProducto+` name="pesaje[]" value=`+0+`><br>
                      </div>`);

}

//total=parseFloat(total).toFixed(1);
           precioTotal= precioTotal + parseFloat(response[i].precioVenta);
           $(".precioTotal").val(precioTotal);
           $("#labelPrecioTotalVenta").text(precioTotal);
           $("#labelProducto").text(response[i].nombre + " (+)");
           contadorProducto++; 
          

          }


           cantidadDeProductosActual();
            
/*****************************************************************************************/
           }
      },
       error : function(message) {
         console.log(message);
      }
    });
  /**********************************Fin de Busqueda de producto********************************************************/
}

 
function cantidadDeProductosActual(){
cantidadFilasActual=document.getElementById("mostrar").rows.length;
cantidadFilasActual--;
console.log(cantidadFilasActual);
if (cantidadFilasActual ==0) {
     $("#mostrar").html('  <tr><td colspan="5" class="text-center" id="existencia"> No hay Productos</td></tr>');
     $("#labelProducto").text("");
     //$("#precioTotal").val(0);
    // precioTotal=0;
}
}



function capturaPesaje(precioProducto,idFilaProducto){
idFilaProductoTabla=idFilaProducto;
precioSeleccionado=precioProducto;
}




$("#validacionAlerta").css('display','none');

function determinarPrecioProducto() {
  
  var pesajeComprado=$("#cantidad").val();


if (pesajeComprado=="") {

  $("#validacionAlerta").css('display','');
  $("#removerAtributo").removeAttr('data-dismiss');
}else{
  $("#removerAtributo").attr('data-dismiss','modal');

  $("#pesaje-"+idFilaProductoTabla).val(pesajeComprado);
  var precioProductoModificado=(precioSeleccionado*pesajeComprado);
  $("#precioProducto-"+idFilaProductoTabla).text(precioProductoModificado);
  $("#precio-"+idFilaProductoTabla).val(precioProductoModificado);


precioTotal=(precioTotal-precioSeleccionado)+precioProductoModificado;

$(".precioTotal").val(precioTotal);
$("#labelPrecioTotalVenta").text(precioTotal);
$("#bloquear"+idFilaProductoTabla).attr('disabled',true);
$("#modalDeterminarPrecio").modal('toggle');
}
}


function removerProducto(idFilaProducto,nombreProducto) {
 var precioActual= $("#precioProducto-"+idFilaProducto).text();
console.log(precioTotal)
console.log("precioTotal: "+precioTotal+"-"+ "precio actuaal"+precioActual)
precioTotal=precioTotal-precioActual;
 
console.log("resultado"+ precioTotal)
precioTotal=trunc(precioTotal,2);
console.log("resultado truncado"+ precioTotal)
 $(".precioTotal").val(precioTotal);
 $("#labelPrecioTotalVenta").text(precioTotal);
 $("#labelProducto").text(nombreProducto + " (-)");
  $("#fila-"+idFilaProducto).remove();
  $("#removerProducto-"+idFilaProducto).remove();
  cantidadDeProductosActual();
}





function enviarMail() {
  var emailUsuario= $("#email").val();
  var dialog = bootbox.dialog({
    title: 'Aviso',
    message: '<p><i class="fa fa-spin fa-spinner"></i>Enviando correo...</p>'
});


   $.ajax({
    url:"/enviar/",
    data: {'idVenta':idVenta,'mail':emailUsuario,csrfmiddlewaretoken: '{{ csrf_token }}' },
    type: "POST",
    success: function (data) {
    console.log(data)

            
dialog.init(function(){
    setTimeout(function(){
        dialog.find('.bootbox-body').html('Su comprobante fue enviado!');
    }, 3000);
});
    $("#email").val("");
    
    },
    error:function(data) {
        console.log("No se ha podido obtener la información");
    }
  });
}

 //// ver bien 
var incremento,fila;

function incrementoMesa(idFila,precio,estado) {



var precioActual=parseFloat($("#precioProducto-"+idFila).text());
//console.log(precioActual)

  var precioProductoModificado;
  
  if (estado==true) {
    
   // precioAuxiliar=parseFloat($("#precioProducto-"+idFila).text());
    incremento =precioActual*0.15;
   // precioAuxiliar=incremento;
    precioProductoModificado=precioActual +incremento;
    precioTotal=precioTotal+incremento;
    fila=idFila;
  }else{
  //console.log(precioAuxiliar)

if (fila==idFila) {
   precioProductoModificado=precioActual-incremento;
    precioTotal=precioTotal-incremento;
    $("#customCheck"+idFila).attr('disabled',true);
}else{
  
  $("#customCheck"+idFila).attr('cheked',true);
  $("#customCheck"+idFila).attr('disabled',true);
  

}

  
   
  }

  $(".precioTotal").val(precioTotal);
  $("#labelPrecioTotalVenta").text(precioTotal);
  $("#precioProducto-"+idFila).text(precioProductoModificado);
  $("#precio-"+idFila).val(precioProductoModificado);
}






function trunc (x, posiciones = 0) {
  var s = x.toString()
  var l = s.length
  var decimalLength = s.indexOf('.') + 1

  if (l - decimalLength <= posiciones){
    return x
  }
  // Parte decimal del número
  var isNeg  = x < 0
  var decimal =  x % 1
  var entera  = isNeg ? Math.ceil(x) : Math.floor(x)
  // Parte decimal como número entero
  // Ejemplo: parte decimal = 0.77
  // decimalFormated = 0.77 * (10^posiciones)
  // si posiciones es 2 ==> 0.77 * 100
  // si posiciones es 3 ==> 0.77 * 1000
  var decimalFormated = Math.floor(
    Math.abs(decimal) * Math.pow(10, posiciones)
  )
  // Sustraemos del número original la parte decimal
  // y le sumamos la parte decimal que hemos formateado
  var finalNum = entera + 
    ((decimalFormated / Math.pow(10, posiciones))*(isNeg ? -1 : 1))
  
  return finalNum
}
</script>

{% endblock content %}
