<!DOCTYPE html>
<html>



<head>
  <title>K-SI 24</title>
  {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  

    <!-- Bootstrap CSS CDN -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'core/css/styleBase.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!--     <link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script> -->
    <!-- Fondj fer palacio cumbiat Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7a972ca2a9.js" crossorigin="anonymous"></script>









 






</head>



<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
              <center>  <a href="{% url 'home' %}"  style="text-decoration:none; color: white;font-size:large"><b>Menú de Selección</b></a></center>
            </div>

            <ul class="list-unstyled components">
                
                <li>
                    <a href="{% url 'cargaproducto' %}" style="text-decoration:none; color: #263238;"><b>Productos</b></a>
                    
                </li>
                <li>
                  <a href="{% url 'combos' %}" style="text-decoration:none; color: #263238;"><b>Combos</b></a>
              </li>
                <li>
                    <a href="{% url 'cargaCompra' %}" style="text-decoration:none; color: #263238;"><b>Compras</b></a>
                </li>
                <li>
                    <a href="{% url 'ventas' %}" style="text-decoration:none; color: #263238;"><b>Ventas</b></a>
                </li>
                <li>
                    <a href="{% url 'gasto' %}" style="text-decoration:none; color: #263238;"><b>Gastos Fijos</b></a>
                </li>
                <li>
                  <a href="{% url 'factura' %}" style="text-decoration:none; color: #263238;"><b>Facturas no Registradas</b></a>
                </li>
                <li>
                    <a href="{% url 'informe' %}" style="text-decoration:none; color: #263238;"><b>Informes de Ventas</b></a>
                </li>
                <li>
                    <a href="{% url 'balance2' %}" style="text-decoration:none; color: #263238;"><b>Balances</b></a>
                </li>
                <li>
                    <!-- <a href="{% url 'calculadora' %}" style="text-decoration:none; color: #263238;"><b>Calculadora</b></a> -->
                    <a href="#" style="text-decoration:none; color: #263238;" id="calculadora"><b>Calculadora</b></a>
                </li>

            </ul>

<!-- calculadora -->

<div id="background" class="ocultarYaparecer ">
  <div id="result"></div>
   <div id="main">
       <div id="first-rows">
        <button id="delete">Del</button>
           <button value="%" class="btn-style operator opera-bg">%</button>
           <button value="+" class="btn-style opera-bg value operator">+</button>
           </div>

         <div class="rows">
       <button value="7" class="btn-style  num first-child">7</button>
           <button value="8" class="btn-style num">8</button>
           <button value="9" class="btn-style num">9</button>
           <button value="-" class="btn-style opera-bg operator">-</button>
           </div>

           <div class="rows">
           <button value="4" class="btn-style num first-child">4</button>
           <button value="5" class="btn-style num">5</button>
           <button value="6" class="btn-style num">6</button>
           <button value="*" class="btn-style opera-bg operator">x</button>
           </div>

           <div class="rows">
           <button value="1" class="btn-style num first-child">1</button>
           <button value="2" class="btn-style num">2</button>
           <button value="3" class="btn-style num">3</button>
           <button value="/" class="btn-style opera-bg operator">/</button>
           </div>

           <div class="rows">
           <button value="0" class="zero" id="delete">0</button>
           <button value="." class="btn-style period opera-bg ">.</button>
           <button value="=" class="eqn">=</button>
           </div>
       </div>
   </div>









            
        </nav>

        <!-- Page Content  -->
        <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i> 
                        <span> </span>
                    </button>
                <a href="/logout/" class="btn btn-danger" style="text-decoration:none; color: white; " > Cerrar Sesión</a>


                </div>
        </nav> 
        {%block content%}
        <div class="jumbotron">
            <h1 class="display-4">K-SI 24 Minimarket</h1>
            <!-- <p class="lead">Hola, Bienvenidos al sistema de control de stock e inventario.  </p> -->
            <hr class="my-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'core/img/img1.jpg' %}" alt="First slide" height="700px">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'core/img/img2.jpg' %}" alt="Second slide" height="700px">
                  </div>
                  <!-- <div class="carousel-item">
                    <img class="d-block w-100" src="150249.jpg" alt="Third slide" height="700px">
                  </div> -->
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div> 
        </div>
        <script>
          $('.carousel').carousel({
        interval: 2000
       })
        </script>
        {%endblock%}  
        </div>
    </div>
    
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
   <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Popper.JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
 <script type="text/javascript">
        $(document).ready(function () {
          
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

            $('#calculadora').on('click', function () {
                $('#background').toggleClass('ocultarYaparecer');
            });



        });

      
    </script>
</body>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js
"></script>
 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>






<style type="text/css">
	

.ocultarYaparecer {
display: none;

}


#background {
    width:300px;
    height:400px;
    background:gray;
    margin:50px auto;
    /*-webkit-animation:bgChange 1s 1s alternate infinite;
    transition: all 1s ease;
    position: relative;
    left: 20px !important;*/
}

button {
    border:0;
    color:#fff;
}

#result {
    display:block;
    font-family: sans-serif;
    width:230px;
    height:40px;
    margin:10px auto;
    text-align: right;
    border:0;
    background:#3b3535;
    color:#fff;
    padding-top:10px;
    font-size:20px;
    margin-left: 25px;
    outline: none;
    overflow: hidden;
    letter-spacing: 4px;
    position: relative;
    top:10px;
}

#result:hover {
    cursor: text;
}

#first-rows {
    margin-bottom: 20px;
    position: relative;
    top:10px;
}

.rows {
    width:300px;
    margin-top:10px;
}

#delete {
    width:110px;
    height:50px;
    margin-left:25px;
    border-radius:4px;
     background:#24b4de;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    border-bottom:3px solid #399cb9;
}
/* Button styling */
.btn-style {
    width:50px;
    height:50px;
    margin-left:5px;
    border-radius:4px;
}

.eqn {
    width:50px;
    height:50px;
    margin-left:5px;
    border-radius:4px;
    background:#17a928;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    border-bottom:3px solid #1f7a29;
}
#eqn:active {
    background:#17a928;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #1f7a29;
}
.first-child {
 margin-left:25px;
}
/* Adding background color to the number values */
 .num{
    background:#000;
    color:#fff;
    font-size:26px;
    cursor:pointer;
    outline:none;
    border-bottom:3px solid #333;
}
 .num:active {
    background:#000;
    color:#fff;
    font-size:26px;
    cursor:pointer;
    outline:none;
    box-shadow: inset 5px 5px 5px #555;
}

/*Adding background color to the operator values */
.opera-bg {
    background:#333;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    border-bottom:3px solid #555;
}

.opera-bg:active {
    background:#333;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #555;
}
@-webkit-keyframes bgChange {
    0% {
       background:#00ffff;
    }

    50% {
      background:#ff00ff;
    }

    100% {
        background:#399cb9;
    }
    50% {
      background:#ff008f;
    }
    50% {
      background:#ff0088;
    }
    50% {
      background:#ff08ff;
    }
    50% {
      background:#ff44ff;
    }
    50% {
      background:#0000ff;
    }
}
</style>



<script type="text/javascript">
	

	window.onload = function() {
var current,
    screen,
    output,
    limit,
    zero,
    period,
    operator;

    screen = document.getElementById("result");

var elem = document.querySelectorAll(".num");

      var len = elem.length;

      for(var i = 0; i < len; i++ ) {

        elem[i].addEventListener("click",function() {

            num = this.value;

            output = screen.innerHTML +=num;

            limit = output.length;

         if(limit > 16 ) {

         alert("Sorry no more input is allowed");

       }

     },false);

    }

    document.querySelector(".zero").addEventListener("click",function() {

        zero = this.value;

        if(screen.innerHTML === "") {

           output = screen.innerHTML = zero;
        }

        else if(screen.innerHTML === output) {

         output = screen.innerHTML +=zero;

        }

    },false);

    document.querySelector(".period").addEventListener("click",function() {

        period = this.value;

        if(screen.innerHTML === "") {

         output = screen.innerHTML = screen.innerHTML.concat("0.");

         }

        else if(screen.innerHTML === output) {

          screen.innerHTML = screen.innerHTML.concat(".");

        }

    },false);


    document.querySelector(".eqn").addEventListener("click",function() {

      if(screen.innerHTML === output) {

        screen.innerHTML = eval(output);
      }

      else {
            screen.innerHTML = "";
      }

    },false);

 document.querySelector("#delete").addEventListener("click",function() {

        screen.innerHTML = "";

    },false);


     var elem1 = document.querySelectorAll(".operator");

      var len1 = elem1.length;

      for(var i = 0; i < len1; i++ ) {

        elem1[i].addEventListener("click",function() {

        operator = this.value;

         if(screen.innerHTML === "") {

            screen.innerHTML = screen.innerHTML.concat("");

        }

        else if(output) {

            screen.innerHTML = output.concat(operator);

        }

    },false);

      }
}

</script>





</html>