{% extends 'core/base.html' %}


{% load static %}


{% block content %}



<link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'core/css/normalize.css' %}">


  
    <main class="main">
      <div class="calculator">
        <div class="top-bar"></div>
        <div class="screen">
          <div class="screen__top" id="screen-operation">0</div>
          <div class="screen__content" id="screen-result">0</div>
        </div>
        <div class="buttons" id="buttons" >
          <div class="button">C</div>
          <div class="button"></div>
          <div class="button">+/-</div>
          <div class="button">/</div>
          <div class="button">7</div>
          <div class="button">8</div>
          <div class="button">9</div>
          <div class="button">*</div>
          <div class="button">4</div>
          <div class="button">5</div>
          <div class="button">6</div>
          <div class="button">-</div>
          <div class="button">1</div>
          <div class="button">2</div>
          <div class="button">3</div>
          <div class="button">+</div>
          <div class="button">0</div>
          <div class="button"></div>
          <div class="button">,</div>
          <div class="button">=</div>
        </div>
      </div>
    </main>
    <script src="{% static 'core/js/scripts.js' %}"></script>
 


{% comment %} hay que hacer el formulario con el atributo name="" asi se puede enviar con el boton submit {% endcomment %}
{% endblock content %}