{% extends 'core/base.html' %}


{% load static %}


{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<div class="container-fluid my-5">
    <div class="row d-flex">
        <a href="{% url 'stock' %}" type="button"  class="btn btn-secondary ml-auto">Mercadería</a>
        <a href="{% url 'stockAccesorios' %}" type="button"  class="btn btn-primary ml-2">Accesorios</a>
    </div>
        <div class="row ">
            <div class="col-md-4 my-5">
                <form action="#" method="post">
                {% csrf_token %} 
                    <div class="card">
                        <center><h5 class="card-header " style="background-color: #263238; color:white;" >Ingreso de Nuevo Producto</h5></center>
                        <div class="card-body" style="background-color: #cfd8dc; ">
                         
                          <div class="form-group">
                              <label for="" class="">Código del Producto</label>
                              <input class="form-control" type="text" name="codigo" id="codigo" required>
                          </div>
                          <div class="form-group">
                            <label for="" class="">Descripción</label>
                            <input class="form-control" type="text" name="nombre" id="nombre" required>
                        </div>
                         <div class="form-group">
                            <label for="" class="">Tipo de Producto</label>
                            <select name="tipoProducto" class="form-control">
                                <option value="">Seleccione</option>
                                <option value="Producto Envasado">Producto Envasado</option>
                                <option value="Producto Fraccionado">Producto Fraccionado</option>
                            </select>                        
                         </div>
                        <div class="form-group">
                            <label for="" class="">Precio de Compra ($)</label>
                            <input class="form-control" type="text" name="precioCompra" id="precioCompra" required>
                        </div>
                        <div class="form-group">
                            <label for="" class="">Precio de Venta ($)</label>
                            <input class="form-control" type="text" name="precioVenta" id="precioVenta" required>
                        </div>
                     <div >   
                                                 <div class="form-group" >
                                                     <label for="" class="">Stock/Cantidad</label>
                                                     <input class="form-control" type="text" name="stock" id="stock" >
                                                 </div>
                                                 <div class="form-group">
                                                     <label for="" class="">Pesaje</label>
                                                     <input class="form-control" type="text" name="pesaje" id="pesaje" >
                                                 </div>
                             </div>
                             <div class="custom-control custom-checkbox ml-1 my-3">
              <input type="checkbox" class="custom-control-input" id="accesorio" name="accesorio" >
              <label class="custom-control-label" for="accesorio">Accesorio</label>
</div>
                        <input type="submit" value="Guardar Producto" class="form-control btn btn-primary" >
                        </div>
    
                      </div>
                </form>
            </div>
            <div class="col-md-8 my-5">
                <table id="tablaConfiguracion"  class="table table-bordered ">
                    <thead  class=" ">
                      <tr style="background-color: #263238; color: white;">
                        <th scope="col">Código de Producto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio Compra($)</th>
                        <th scope="col">Precio Venta($)</th>
                       
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for p in productos %}
                    
                        <tr style="background-color: #cfd8dc; "><td scope="col">{{p.codigo}}</td>
                        <td scope="col">{{p.nombre}}</td>
                        <td scope="col">{{p.precioCompra}} ($)</td>
                        <td scope="col">{{p.precioVenta}} ($)</td>
                        
                        
                        <!-- {% if p.stock == None %}
                        <td scope="col">0</td>
                        {% else %}
                        <td scope="col">{{p.stock}}</td>
                        {% endif %}
                        {% if p.pesaje == None %}
                        <td scope="col">0</td>
                        {% else %}
                        <td scope="col">{{p.pesaje}}</td>
                        {% endif %} -->
                        <td scope="col">
                            <a href="{% url 'editaProducto' p.id %}" role="button" class="btn btn-success">
                            <i class="fas fa-external-link-alt"></i></a>
                            </td>
                        <td scope="col">
                            <a href="{% url 'borraProducto' p.id %}" role="button" class="btn btn-danger">
                            <i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

<style>.dataTables_empty{display: none;}
.example::-webkit-scrollbar {
    display: none;
}

</style>
<script>
   $(document).ready(function() {

    $('#tablaConfiguracion').DataTable( {
        "scrollY":        "470px",
        "scrollX":        false,
        "scrollCollapse": false,
        "paging":         false,
        "info":           false,// oculta el contador de entradas
        "searching":false,
        "ordering":false,
         "language": {
      "emptyTable": false,
       "zeroRecords":   false
    }
    } );
     $(".dataTables_scrollHead").css('overflow', 'auto');
     $(".dataTables_scrollHeadInner").css('overflow','scroll');
      $(".dataTables_scrollHead").addClass('example'); // oculto scroll
       $(".dataTables_scrollHeadInner").css('width', '100%');
       $(".dataTables_scrollBody").addClass('example'); // oculto scroll
       $(".dataTables_scrollHeadInner").addClass('example'); // oculto scroll
        $(".no-footer").css('width', '100%');

      
} );
</script>

{% comment %} hay que hacer el formulario con el atributo name="" asi se puede enviar con el boton submit {% endcomment %}
{% endblock content %}