


{% extends 'core/base.html' %}


{% load static %}


{% block content %}

{% comment %} esta es la vista de borrar producto ! 

hay que poner un cuadro que diga que si estas seguro de borrarlo 

y un boton que diga si (es un submit y otro que diga no) {% endcomment %}

<center><div class="col-md-4 my-5 ">
    <form method="POST">
    {% csrf_token %} 
        <div class="card">
            <center><h5 class="card-header " style="background-color: #263238; color:white;" >Actualización del Producto</h5></center>
            <div class="card-body" style="background-color: #cfd8dc; ">
             
              <div class="form-group mx-3">
                  <label for="" class="">Código del Producto</label>
                  {{form.codigo}}
              </div>
              <div class="form-group mx-3">
                <label for="" class="">Descripción</label>
                {{form.nombre}}
            </div>
            <div class="form-group mx-3">
                            <label for="" class="">Tipo de Producto</label>
                              
                            {{form.tipoProducto}}                    
                         </div>
            <div class="form-group mx-3">
                <label for="" class="">Precio de venta ($)</label>
                {{form.precioVenta}}
            </div>
            <div class="form-group mx-3">
                <label for="" class="">Precio de compra ($)</label>
                {{form.precioCompra}}
            </div>
            <div class="form-group mx-3">
                <label for="" class="">Stock</label>
                {{form.stock}}
            </div>
            <div class="form-group mx-3">
                <label for="" class="">Pesaje</label>
                {{form.pesaje}}
            </div>
             <div class="custom-control custom-checkbox ml-1 my-3">
             {{form.accesorio}}
              <label class="custom-control-label" for="accesorio">Accesorio</label>
</div>

            <div class="form-group mx-3"> 
            <button class="mt-2 form-control btn btn-primary">Actualizar Producto</button>
            <a type="button" href="{% url 'cargaproducto' %}" class="mt-2 form-control btn btn-dark">Cancelar</a>
            </div>
            </div>

          </div>
    </form>
</div></center>


{% endblock content %}