<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Inicio de Sesión</title>
</head>
<body>
    <center><div class="jumbotron col-md-3 my-5">
        <h4 class="display-5">K-SI 24 Minimarket</h4>
        
        <hr class="my-4">
        <form action="/principal/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                
                <input type="text" name="username"  autofocus="" id="" placeholder="Usuario" class="form-control my-5" autocomplete="off" required>
                <input type="password" name="password" id="" placeholder="Contraseña" class="form-control" autocomplete="off" required>
            </div>
            <button class="btn mt-4" style="background-color:#263238; color:white;"> Iniciar Sesión</button>
        </form>
        
      </div></center>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>