{% extends 'core/base.html' %}


{% load static %}


{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<div class="container-fluid my-5">           
    <div class="container my-5">
        <h4>Accesorio</h4>
        <form method="GET" class="my-3" >
            {% csrf_token %}
            <div class="form-inline ">
                <label for="">Nombre del Producto: </label>
                <input type="search" class="form-control ml-3" placeholder="Buscar por Nombre" title="Ingrese el nombre" id="busquedaProductoAccesorio"   autocomplete="off"  autofocus="true" name="q"  >
            </div>
        </form>
        <table class="tablaConfiguracion"  class="table table-bordered ">
            <thead  class=" ">
              <tr style="background-color: #263238; color: white;">
            
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad</th>
               
              </tr>
            </thead>
            <tbody>
            {% for p in stock %}
            {% if p.accesorio == True %}
                <tr style="background-color: #cfd8dc; "><td scope="col">{{p.nombre}}</td>
                {% if p.stock == None  %}
                <td scope="col">--</td>
                {% else %}
                    {% if p.stock <= 2 %}    
                    <td style="background-color:red; " scope="col">{{p.stock}}</td>
                    {% elif p.stock < 5 and p.stock > 2  %}    
                    <td style="background-color:yellow; " scope="col">{{p.stock}}</td>
                    {% else %}
                    <td  scope="col">{{p.stock}}</td>
                    {% endif %}
                {% endif %}
                <!----------------------->
                
                <!-- {% if p.stock == None %}
                <td scope="col">0</td>
                {% else %}
                <td scope="col">{{p.stock}}</td>
                {% endif %}
                {% if p.pesaje == None %}
                <td scope="col">0</td>
                {% else %}
                <td scope="col">{{p.pesaje}}</td>
                {% endif %} -->
                <!-- <td scope="col">
                    <a href="{% url 'editaProducto' p.id %}" role="button" class="btn btn-success">
                    <i class="fas fa-external-link-alt"></i></a>
                    </td>
                <td scope="col">
                    <a href="{% url 'borraProducto' p.id %}" role="button" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i></a>
                </td> -->
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
          </table>
    </div>


</div>

<style>.dataTables_empty{display: none;}
.example::-webkit-scrollbar {
    display: none;
}

</style>
<script>
   $(document).ready(function() {

    $('.tablaConfiguracion').DataTable( {
        "scrollY":        "470px",
        "scrollX":        false,
        "scrollCollapse": false,
        "paging":         false,
        "info":           false,// oculta el contador de entradas
        "searching":false,
        "ordering":false,
         "language": {
      "emptyTable": false,
       "zeroRecords":   false
    }
    } );
     $(".dataTables_scrollHead").css('overflow', 'auto');
     $(".dataTables_scrollHeadInner").css('overflow','scroll');
      $(".dataTables_scrollHead").addClass('example'); // oculto scroll
       $(".dataTables_scrollHeadInner").css('width', '100%');
       $(".dataTables_scrollBody").addClass('example'); // oculto scroll
       $(".dataTables_scrollHeadInner").addClass('example'); // oculto scroll
        $(".no-footer").css('width', '100%');

      
} );


 










</script>

{% comment %} hay que hacer el formulario con el atributo name="" asi se puede enviar con el boton submit {% endcomment %}
{% endblock content %}
