{% extends 'core/base.html' %}


{% load static %}


{% block content %}

{% comment %} esta es la vista de borrar producto ! 

hay que poner un cuadro que diga que si estas seguro de borrarlo 

y un boton que diga si (es un submit y otro que diga no) {% endcomment %}

<center><div class="jumbotron col-md-8">
    
  <form action="" method="POST">
    {% csrf_token %}
    <center> <h1 class="display-5">¿Estas seguro que deseas borrar el registro de la factura <b>{{object.tipoFactura}}</b> realizado el día <b>{{object.fechaPago}}</b>? </h1></center>
     <!-- <h3 class="display-5"> </h3> -->
     <hr class="my-4">
     <p class="lead">
       <center><a class="btn btn-dark btn-lg" href="{% url 'factura' %}" role="button">Cancelar</a>
           <button class="btn btn-danger btn-lg ml-3" type="submit">Eliminar</button></center>
     </p>
   </div>
  </form></center>


{% endblock content %}