{% extends 'core/base.html' %}


{% load static %}


{% block content %}

<div class="container-fluid my-5">
        <div class="row ">
            <div class="col-md-4 my-5">
                <form action="#" method="post">
                {% csrf_token %} 
                    <div class="card">
                        <center><h5 class="card-header " style="background-color: #263238; color:white;" >Ingreso de Nueva Factura</h5></center>
                        <div class="card-body" style="background-color: #cfd8dc; ">
                         
                          <div class="form-group">
                              <label for="" class="">Tipo de Factura</label>
                              <input class="form-control" type="text" name="tipoFactura" id="tipoFactura" required>
                          </div>
                          <div class="form-group">
                            <label for="" class="">Descripción</label>
                            <input class="form-control" type="text" name="detalle" id="detalle" required>
                        </div>
                        <div class="form-group">
                            <label for="" class="">Fecha de Factura</label>
                            <input class="form-control" type="date" name="fechaPago" id="fechaPago" required>
                        </div>
                        <div class="form-group">
                            <label for="" class="">Valor de la Factura</label>
                            <input class="form-control" type="text" name="valor" id="valor" required>
                        </div>
                        
    
                        <input type="submit" value="Guardar Factura" class="form-control btn btn-primary" >
                        </div>
    
                      </div>
                </form>
            </div>
            <div class="col-md-8 my-5">
                <table id="tablaConfiguracion"  class="table table-bordered ">
                    <thead  class="">
                      <tr style="background-color: #263238; color: white;">
                        <th scope="col">Tipo de Factura</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha de Factura</th>
                        <th scope="col">Valor de la Factura</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for f in factura %}
                        <tr style="background-color: #cfd8dc; "><td scope="col">{{f.tipoFactura}}</td>
                        <td scope="col">{{f.detalle}}</td>
                        <td scope="col">{{f.fechaPago}} ($)</td>
                        <td scope="col">{{f.valor}} ($)</td>
                        <td scope="col"><a href="{% url 'editaFactura' f.id %}" role="button" class="btn btn-success"><i class="fas fa-external-link-alt"></i></a></td>
                        <td scope="col"><a href="{% url 'borraFactura' f.id %}" role="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td></tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
</div>





<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






<style>.dataTables_empty{display: none;}
    .example::-webkit-scrollbar {
        display: none;
    }
    
    </style>
    <script>
    
    
    
     $(document).ready(function() {
    
        $('#tablaConfiguracion').DataTable( {
            "scrollY":        "430px",
            "scrollX":        false,
            "scrollCollapse": false,
            "paging":         false,
            "info":           false,// oculta el contador de entradas
            "searching":false,
            "ordering":false,
             "language": {
          "emptyTable": false,
           "zeroRecords":   false
        }
        } );
         $(".dataTables_scrollHead").css('overflow', 'auto');
         $(".dataTables_scrollBody").css('overflow','scroll');
         $(".dataTables_scrollBody").addClass('example'); // oculto scroll
          $(".dataTables_scrollHeadInner").css('width', '100%');
            $(".no-footer").css('width', '100%');
    
          
    } );
    
    </script>



{% comment %} hay que hacer el formulario con el atributo name="" asi se puede enviar con el boton submit {% endcomment %}
{% endblock content %}