body {
    font-family: sans-serif; }
  
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 1366px;
    height: 680px;
    background: -webkit-gradient(linear, left top, right bottom, from(zz), to(#C7CECC));
    background: -webkit-linear-gradient(top left, #191C1B -20%, #C7CECC 100%);
    background: -o-linear-gradient(top left, #191C1B -20%, #C7CECC 100%);
    background: linear-gradient(to bottom right, #191C1B -20%, #C7CECC 100%); }
  
  .calculator {
    width: 350px;
    height: 500px;
    background: transparent;
    border-radius: 15px;
    position: relative; }
    .calculator::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      -webkit-box-shadow: 0 10px 20px black;
      box-shadow: 0 10px 20px black;
      opacity: .3; }
  
  .top-bar {
    width: 100%;
    height: 50px;
    background: white;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 2rem;
    border-bottom: 1px solid grey;
    border-radius: 15px 15px 0 0; }
    .top-bar::before {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background: #227D65;
      border-radius: 50%;
      -webkit-box-shadow: 20px 0 0 grey,
   -20px 0 0 red;
      box-shadow: 20px 0 0 grey,
   -20px 0 0 #263238; }
  
  .screen {
    width: 100%;
    height: 120px;
    text-align: right;
    padding-right: 1rem;
    padding-top: .5rem;
    background: white; }
    .screen__top {
      font-size: 1.5rem; }
    .screen__content {
      font-size: 4rem; }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 5px;
  font-weight: bold; }
  
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1em;
    font-size: 1.21rem;
    background: white;
    position: relative;
    z-index: 100; }
    .button:nth-child(4n) {
      background: #263238; color:white }
    .button:nth-child(17) {
      border-bottom-left-radius: 15px; }
    .button:last-child {
      border-bottom-right-radius: 15px; }
    .button:not(:nth-child(18)):hover {
      background: #227D65;
      cursor: pointer; }
      