{% extends 'core/base.html' %}


{% load static %}


{% block content %}

<div class="container-fluid my-5">
        <div class="row ">
            <div class="col-md-4 my-5">
                <form action="#" method="post">
                {% csrf_token %} 
                    <div class="card">
                        <center><h5 class="card-header " style="background-color: #263238; color:white;" >Ingreso de Nueva Compra</h5></center>
                        <div class="card-body" style="background-color: #cfd8dc; ">
                         
                          <div class="form-group">
                              <label for="" class="">Tipo de Compra</label>
                              <input class="form-control" type="text" name="tipoCompra" id="tipoCompra" required>
                          </div>
                          <div class="form-group">
                            <label for="" class="">Fecha de la Compra</label>
                            <input class="form-control" type="date" name="fechaCompra" id="fechaCompra" required>
                        </div>
                        <div class="form-group">
                            <label for="" class="">Precio Total de la Compra ($)</label>
                            <input class="form-control" type="text" name="valorCompra" id="valorCompra" required>
                        </div>
                        
                        <input type="submit" value="Guardar Compra" class="form-control btn btn-primary" >
                        </div>
    
                      </div>
                </form>
            </div>
            <div class="col-md-8 my-5">
                <table id="tablaConfiguracion"  class="table table-bordered ">
                    <thead  class=" ">
                      <tr style="background-color: #263238; color: white;">
                        <th scope="col">Tipo de Compra</th>
                        <th scope="col">Fecha de Compra</th>
                        <th scope="col">Valor Total de Compra($)</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for c in compras %}
                        <tr style="background-color: #cfd8dc; "><td scope="col">{{c.tipoCompra}}</td>
                        <td scope="col">{{c.fechaCompra}}</td>
                        <td scope="col">($) {{c.valorCompra}} </td>
                        <td scope="col"><a href="{% url 'editaCompra' c.id %}" role="button" class="btn btn-success"><i class="fas fa-external-link-alt"></i></a></td>
                        <td scope="col"><a href="{% url 'borraCompra' c.id %}" role="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td></tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






    <style>.dataTables_empty{display: none;}
        .example::-webkit-scrollbar {
            display: none;
        }
        
        </style>
        <script>
        
        
        
         $(document).ready(function() {
        
            $('#tablaConfiguracion').DataTable( {
                "scrollY":        "350px",
                "scrollX":        false,
                "scrollCollapse": false,
                "paging":         false,
                "info":           false,// oculta el contador de entradas
                "searching":false,
                "ordering":false,
                 "language": {
              "emptyTable": false,
               "zeroRecords":   false
            }
            } );
             $(".dataTables_scrollHead").css('overflow', 'auto');
             $(".dataTables_scrollBody").css('overflow','scroll');
             $(".dataTables_scrollBody").addClass('example'); // oculto scroll
              $(".dataTables_scrollHeadInner").css('width', '100%');
                $(".no-footer").css('width', '100%');
        
              
        } );
        
        



</script>

{% comment %} hay que hacer el formulario con el atributo name="" asi se puede enviar con el boton submit {% endcomment %}
{% endblock content %}


