<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <div class="jumbotron">
   <center> <h1 class="display-4" style="background-color: #263238;color: white"><b>KSI-24 Comprobante Online</b></h1></center>
   <center><h3 style="color: black;">!Gracias por Elegirnos! Disfrute su Compra. Esperamos pronto su Regreso.</h3></center> 
   
    <hr class="my-4">
    <center><p class="lead" style="color: black;">(*) No Válido como Factura</p></center>  
    <p class="lead">
<div class="">
  <center><table id="tablaConfiguracion" style="height: 150px; width: 600px;" class="table table-bordered ">
    <thead  class="">
      <tr style="background-color: #263238; color: white;">
        <th scope="col">Descripción</th>
        <th scope="col">Precio Venta($)</th>
      </tr>
    </thead>
<tbody>
{% for d in detalleBody %}
<tr style="background-color: #cfd8dc; ">
        
        <td scope="col" >{{d.producto.nombre}}</td>
        <td scope="col" >{{d.precioProducto}} ($)</td>
    {% endfor %}
    
{% if elcombo %}
{% for e in elcombo %}
<tr style="background-color: #cfd8dc; ">
       
        <td scope="col" >{{e.combos.nombre}}</td>
        <td scope="col">{{e.combos.precioVenta}} ($)</td>

{% endfor %}
{% else %}
{% endif %}
<tr  style="background-color: #cfd8dc;" >
<td > <b>Total</b></td>
<td > <b>{{total}} ($)</b></td>
</tr>
</tbody>
</table></center>
</div>
    </p>
  </div>
    

        
                  <!-- <label for="">Total: {{total}}</label> -->
    
</body>
</html>