{% extends "core/base.html" %}
{% load static %}
{% block content %}

<form action="{% url 'send' %}" method="POST">
    {% csrf_token %}
    EMAIL<input type="text" name="mail">
    <button type="submit">Enviar</button>    

</form>


{% endblock content %}